.message-container {
  overflow-y: scroll;
  margin-bottom: 2em;
}

.message-container > div {
  display: flex;
  flex-direction: column;
}

.message-container .message {
  max-width: 400px;
  padding: 0.5em; /* $standard-padding */
  border-radius: 17px; /* $bubble-border-radius */
  overflow-wrap: break-word;
}

.message-container .user {
  background: #e5dfdf;
  color: #393e46;
  align-self: flex-end;
}

.message-container .bot {
  background: #393e46;
  color: #f7f7f7;
  align-self: flex-start;
}

.message-container .options {
  background: white;
  display: flex;
  align-items: center;
}

.message-container .options > div:first-child {
  font-size: 1.3em;
  margin: 0.7em 0.7em 0.9em 0.3em;
}

.arrow-right-wrap {
  color: #393e46;
  animation: arrow-move 1.2s infinite;
}

@keyframes arrow-move {
  0% {
    transform: translateX(4px) rotate(90deg);
  }
  50% {
    transform: translateX(0) rotate(90deg);
  }
  100% {
    transform: translateX(4px) rotate(90deg);
  }
}

.message-container .options p {
  padding: 0.5em; /* $standard-padding */
  margin-right: 0.8em;
  background: #393e46;
  color: #f7f7f7;
  border-radius: 17px; /* $bubble-border-radius */
}

.message-container .options p:hover {
  opacity: 0.7;
  cursor: pointer;
}

.message-container .dummy-div {
  padding: 0.5em 0;
}
